<h1>New User</h1>

<%= form_for(@user) do |f| %>
    <%= f.label "Full Name" %>
    <%= f.text_field :full_name %>

    <%= f.label "Email" %>
    <%= f.text_field :email %>

    <%= f.label "Password" %>
    <%= f.password_field :password %>

    <%= f.button "Submit" %>
<% end %>
